.profile-area img {
    max-width: 150px;
    margin-bottom: 20px;
    }
    .panel-body h3 {
    margin-top: 0;
    }

    .container {
        border: 1px solid; 
        border-radius: 6px; 
        width:1000px; height:202px; 
        background-color: white;
    }