<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Security</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a>Home</a></li>
            <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</a></li>
            <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</a></li>
        </ul>
    </div>
</nav>
<br/>
<br/>
<h1 class="center">Security Karen Tibo</h1>
  <main role="main" class="center">
    <router-outlet></router-outlet>
  </main>
<br/>
<div class="center">
<iframe sandbox="allow-scripts allow-forms allow-modals allow-pointer-lock allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-top-navigation" *ngIf="auth.isAuthenticated()" class="container" src="https://learning.ap.be/login/index.php"></iframe> 
</div>
