<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Security</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="http://localhost:3000">Home</a></li>
            <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</a></li>
            <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</a></li>
            <li><a *ngIf="auth.isAuthenticated()" href="http://localhost:3000/profile">Profile</a></li>
        </ul>
    </div>
</nav>
<br/>
<br/>
<h3 class="center">Security Karen Tibo</h3>
  <main role="main" class="center">
    <router-outlet></router-outlet>
  </main>
<br/>
<div class="center">
<iframe sandbox='allow-scripts' *ngIf="auth.isAuthenticated()" class="container" src="http://localhost:3000/profile">

</iframe> 
</div>




