/* **Student code change starts** */
.center {
    text-align: center;
}
.container {
    border: 1px solid; 
    border-radius: 6px; 
    width:1000px; height:500px; 
    box-shadow: 0 1px 6px, 0 1px 12px darkcyan; 
    background-color: white;
}
/* **Student code change ends** */