/* You can add global styles to this file, and also import other style files */
main {
  padding-top: 3.5rem;
}

/* **Student code change start** */
body  {
  margin: 5px;
  background-color: #ffedd1
}
/* **Student code change ends** */

